{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div {{ react_component('PageLoginComponent') }}></div>
    </div>
    {# <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 offset-4 p-2 border border-1 border-primary rounded">
                <form action="{{ path('app_login') }}" method="post">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

                    <label class="form-label" for="password">Mot de passe:</label>
                    <input class="form-control" type="password" id="password" name="_password">

                    <button class="btn btn-primary mt-2" type="submit">login</button>
                </form>
                <div class="col-12 mt-2">
                    No account ? <a href="{{ path('app_register') }}">Register here !</a>
                </div>
            </div>
        </div>
    </div> #}
{% endblock %}
